*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container{
   max-width: 1400px;
   margin: 0 auto;
   padding-left: 20px;
   padding-right: 20px;
}
.bgc-litegray{
   background-color: $colorLiteGray !important;
}
//Цвета==========================================
.color-orange{
   color: $colorOrange !important;
}