//Обратная засечка Пранис-Праневича
.tb0-1-ozpp{width: 300px;}
.tb0-2-ozpp{width: 70px;}
.tb0-3-ozpp{width: 300px;}
.tb1-1-ozpp{width: 90px;}
.tb1-2-ozpp{width: 110px;}
.tb1-3-ozpp{width: 100px;}
.tb1-4-ozpp{width: 100px;}
.tb1-5-ozpp{width: 90px;}
.tb1-6-ozpp{width: 100px;}
.tb1-7-ozpp{width: 90px;}
//Обратная геодезическая задача
.tb1-1-ogz{width: 70px;}
.tb1-2-ogz{width: 70px;}
.tb1-3-ogz{width: 100px;}
.tb1-4-ogz{width: 170px;}
.tb1-5-ogz{width: 150px;}
//Группировка геодезических измерений
.tb1-1-ggi{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-basis: 100%;
   height: 100%;
   border: 1px solid $colorViolet;
}
.tb2-1-ggi{width: 160px;}
.tb2-2-ggi{width: 120px;}
.tb2-3-ggi{width: 120px;}
.tb2-4-ggi{width: 120px;}

@media screen and (min-width:1232px){}
@media screen and (max-width:1024px){}
@media screen and (max-width:896px){
   //Обратная засечка Пранис-Праневича
   .tb0-1-ozpp{width: 240px;}
   .tb0-3-ozpp{width: 240px;}
}
@media screen and (max-width:768px){
   .tb1-1-ozpp{width: 70px; font-size: 12px;}
   .tb1-2-ozpp{width: 80px; font-size: 12px;}
   .tb1-3-ozpp{width: 80px; font-size: 12px;}
   .tb1-4-ozpp{width: 80px; font-size: 12px;}
   .tb1-5-ozpp{width: 80px; font-size: 12px;}
   .tb1-6-ozpp{width: 90px; font-size: 12px;}
   .tb1-7-ozpp{width: 90px; font-size: 12px;}
}
@media screen and (max-width:624px){
   //Обратная засечка Пранис-Праневича
   .tb0-1-ozpp{width: 180px;}
   .tb0-2-ozpp{width: 50px;}
   .tb0-3-ozpp{width: 200px;}
   .tb1-1-ozpp{width: 50px; font-size: 10px;}
   .tb1-2-ozpp{width: 66px; font-size: 10px;}
   .tb1-3-ozpp{width: 60px; font-size: 10px;}
   .tb1-4-ozpp{width: 60px; font-size: 10px;}
   .tb1-5-ozpp{width: 50px; font-size: 10px;}
   .tb1-6-ozpp{width: 60px; font-size: 10px;}
   .tb1-7-ozpp{width: 70px; font-size: 10px;}
   //Обратная геодезическая задача
   .tb1-1-ogz{width: 60px;}
   .tb1-2-ogz{width: 60px;}
   .tb1-3-ogz{width: 70px;}
   .tb1-4-ogz{width: 130px;}
   .tb1-5-ogz{width: 110px;}
   //Группировка геодезических измерений
   .tb2-1-ggi{width: 120px;}
   .tb2-2-ggi{width: 100px;}
   .tb2-3-ggi{width: 110px;}
   .tb2-4-ggi{width: 100px;}
}
@media screen and (max-width:480px){
   //Обратная засечка Пранис-Праневича
   .tb0-1-ozpp{width: 140px;}
   .tb0-2-ozpp{width: 40px;}
   .tb0-3-ozpp{width: 160px;}
   .tb1-1-ozpp{width: 44px; font-size: 9px;}
   .tb1-2-ozpp{width: 56px; font-size: 9px;}
   .tb1-3-ozpp{width: 54px; font-size: 9px;}
   .tb1-4-ozpp{width: 50px; font-size: 9px;}
   .tb1-5-ozpp{width: 42px; font-size: 9px;}
   .tb1-6-ozpp{width: 54px; font-size: 9px;}
   .tb1-7-ozpp{width: 50px; font-size: 9px;}
   //Обратная геодезическая задача
   .tb1-1-ogz{width: 40px;}
   .tb1-2-ogz{width: 40px;}
   .tb1-4-ogz{width: 110px;}
   .tb1-5-ogz{width: 60px;}
   //Группировка геодезических измерений
   .tb2-1-ggi{width: 100px;}
   .tb2-2-ggi{width: 80px;}
   .tb2-3-ggi{width: 90px;}
   .tb2-4-ggi{width: 80px;}
}
@media screen and (max-width:400px){
   //Обратная засечка Пранис-Праневича
   .tb0-1-ozpp{width: 110px;}
   .tb0-3-ozpp{width: 120px;}
   .tb1-1-ozpp{width: 32px; font-size: 7px;}
   .tb1-2-ozpp{width: 44px; font-size: 7px;}
   .tb1-3-ozpp{width: 42px; font-size: 7px;}
   .tb1-4-ozpp{width: 40px; font-size: 7px;}
   .tb1-5-ozpp{width: 34px; font-size: 7px;}
   .tb1-6-ozpp{width: 42px; font-size: 7px;}
   .tb1-7-ozpp{width: 38px; font-size: 7px;}
   //Обратная геодезическая задача
   .tb1-1-ogz{width: 30px;}
   .tb1-2-ogz{width: 22px;}
   .tb1-3-ogz{width: 52px;}
   .tb1-4-ogz{width: 90px;}
   .tb1-5-ogz{width: 78px;}
   //Группировка геодезических измерений
   .tb1-1-ggi{font-size: 9px;}
   //Группировка геодезических измерений
   .tb2-1-ggi{width: 80px;}
   .tb2-2-ggi{width: 70px;}
   .tb2-3-ggi{width: 70px;}
   .tb2-4-ggi{width: 50px;}
}
@media screen and (max-width:360px){}